USE [master]
GO
/****** Object:  Database [NEGOZIO_DI_DISCHI]    Script Date: 06.08.2021 14:37:29 ******/
CREATE DATABASE [NEGOZIO_DI_DISCHI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NEGOZIO_DI_DISCHI', FILENAME = N'C:\Users\terez\NEGOZIO_DI_DISCHI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NEGOZIO_DI_DISCHI_log', FILENAME = N'C:\Users\terez\NEGOZIO_DI_DISCHI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NEGOZIO_DI_DISCHI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NEGOZIO_DI_DISCHI]
GO
USE [NEGOZIO_DI_DISCHI]
GO
/****** Object:  Table [dbo].[ALBUM]    Script Date: 06.08.2021 14:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALBUM](
	[ID_ALBUM] [int] IDENTITY(1,1) NOT NULL,
	[TITOLO] [varchar](30) NOT NULL,
	[ANNO_DI_USICTA] [date] NULL,
	[CASA_DISCOGRAFICA] [nvarchar](30) NOT NULL,
	[GENERE] [nvarchar](10) NOT NULL,
	[SUP_DISTRIBUZIONE] [nvarchar](15) NOT NULL,
	[ID_BAND] [int] NULL,
 CONSTRAINT [PK_ID_ALBUM] PRIMARY KEY CLUSTERED 
(
	[ID_ALBUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALBUM_BRANO]    Script Date: 06.08.2021 14:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALBUM_BRANO](
	[ID_BRANO] [int] NULL,
	[ID_ALBUM] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BAND]    Script Date: 06.08.2021 14:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAND](
	[ID_BAND] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [nvarchar](40) NOT NULL,
	[NUMERO_COMPONENTI] [int] NOT NULL,
 CONSTRAINT [PK_ID_BAND] PRIMARY KEY CLUSTERED 
(
	[ID_BAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRANO]    Script Date: 06.08.2021 14:37:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANO](
	[ID_BRANO] [int] IDENTITY(1,1) NOT NULL,
	[TITOLO] [nvarchar](40) NOT NULL,
	[DURATA] [int] NOT NULL,
 CONSTRAINT [PK_ID_BRANO] PRIMARY KEY CLUSTERED 
(
	[ID_BRANO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ALBUM] ON 

INSERT [dbo].[ALBUM] ([ID_ALBUM], [TITOLO], [ANNO_DI_USICTA], [CASA_DISCOGRAFICA], [GENERE], [SUP_DISTRIBUZIONE], [ID_BAND]) VALUES (1, N'GLI ANNI', CAST(N'1998-01-01' AS Date), N'FRI RECORDS', N'POP', N'CD', 1)
INSERT [dbo].[ALBUM] ([ID_ALBUM], [TITOLO], [ANNO_DI_USICTA], [CASA_DISCOGRAFICA], [GENERE], [SUP_DISTRIBUZIONE], [ID_BAND]) VALUES (2, N'GRAZIE MILLE', CAST(N'1999-01-01' AS Date), N'SONY MUSIC', N'POP', N'CD', 1)
INSERT [dbo].[ALBUM] ([ID_ALBUM], [TITOLO], [ANNO_DI_USICTA], [CASA_DISCOGRAFICA], [GENERE], [SUP_DISTRIBUZIONE], [ID_BAND]) VALUES (3, N'LOVE', CAST(N'2018-01-01' AS Date), N'CAROSELLO', N'POP', N'STREAMING', 2)
SET IDENTITY_INSERT [dbo].[ALBUM] OFF
GO
INSERT [dbo].[ALBUM_BRANO] ([ID_BRANO], [ID_ALBUM]) VALUES (1, 1)
INSERT [dbo].[ALBUM_BRANO] ([ID_BRANO], [ID_ALBUM]) VALUES (1, 2)
INSERT [dbo].[ALBUM_BRANO] ([ID_BRANO], [ID_ALBUM]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[BAND] ON 

INSERT [dbo].[BAND] ([ID_BAND], [NOME], [NUMERO_COMPONENTI]) VALUES (1, N'883', 2)
INSERT [dbo].[BAND] ([ID_BAND], [NOME], [NUMERO_COMPONENTI]) VALUES (2, N'THE GIORNALISTI', 3)
INSERT [dbo].[BAND] ([ID_BAND], [NOME], [NUMERO_COMPONENTI]) VALUES (3, N'THE ROLLING STONES', 5)
SET IDENTITY_INSERT [dbo].[BAND] OFF
GO
SET IDENTITY_INSERT [dbo].[BRANO] ON 

INSERT [dbo].[BRANO] ([ID_BRANO], [TITOLO], [DURATA]) VALUES (1, N'GLI ANNI', 180)
INSERT [dbo].[BRANO] ([ID_BRANO], [TITOLO], [DURATA]) VALUES (2, N'COME MAI', 240)
INSERT [dbo].[BRANO] ([ID_BRANO], [TITOLO], [DURATA]) VALUES (3, N'RICCIONE', 120)
SET IDENTITY_INSERT [dbo].[BRANO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UN_ALBUM]    Script Date: 06.08.2021 14:37:30 ******/
ALTER TABLE [dbo].[ALBUM] ADD  CONSTRAINT [UN_ALBUM] UNIQUE NONCLUSTERED 
(
	[TITOLO] ASC,
	[ANNO_DI_USICTA] ASC,
	[CASA_DISCOGRAFICA] ASC,
	[GENERE] ASC,
	[SUP_DISTRIBUZIONE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALBUM]  WITH CHECK ADD  CONSTRAINT [FK_band] FOREIGN KEY([ID_BAND])
REFERENCES [dbo].[BAND] ([ID_BAND])
GO
ALTER TABLE [dbo].[ALBUM] CHECK CONSTRAINT [FK_band]
GO
ALTER TABLE [dbo].[ALBUM_BRANO]  WITH CHECK ADD  CONSTRAINT [FK_Album] FOREIGN KEY([ID_ALBUM])
REFERENCES [dbo].[ALBUM] ([ID_ALBUM])
GO
ALTER TABLE [dbo].[ALBUM_BRANO] CHECK CONSTRAINT [FK_Album]
GO
ALTER TABLE [dbo].[ALBUM_BRANO]  WITH CHECK ADD  CONSTRAINT [FK_Brano] FOREIGN KEY([ID_BRANO])
REFERENCES [dbo].[BRANO] ([ID_BRANO])
GO
ALTER TABLE [dbo].[ALBUM_BRANO] CHECK CONSTRAINT [FK_Brano]
GO
ALTER TABLE [dbo].[ALBUM]  WITH CHECK ADD  CONSTRAINT [CHK_GENERE] CHECK  (([GENERE]='CLASSICO' OR [GENERE]='JAZZ' OR [GENERE]='POP' OR [GENERE]='ROCK' OR [GENERE]='METAL'))
GO
ALTER TABLE [dbo].[ALBUM] CHECK CONSTRAINT [CHK_GENERE]
GO
ALTER TABLE [dbo].[ALBUM]  WITH CHECK ADD  CONSTRAINT [CHK_SUP_DISTRIBUZIONE] CHECK  (([SUP_DISTRIBUZIONE]='CD' OR [SUP_DISTRIBUZIONE]='VINILE' OR [SUP_DISTRIBUZIONE]='STREAMING'))
GO
ALTER TABLE [dbo].[ALBUM] CHECK CONSTRAINT [CHK_SUP_DISTRIBUZIONE]
GO
USE [master]
GO
